.elementor-102 .elementor-element.elementor-element-4aef49a > .elementor-container{min-height:289px;}.elementor-102 .elementor-element.elementor-element-4aef49a > .elementor-container:after{content:"";min-height:inherit;}