.theme-underline {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #34dca2), to(#34dca2));
  background-image: -webkit-linear-gradient(top, #34dca2 0, #34dca2 100%);
  background-image: -o-linear-gradient(top, #34dca2 0, #34dca2 100%);
  background-image: linear-gradient(to bottom, #34dca2 0, #34dca2 100%);
  background-position: -3px 85%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
}
.theme-underline-bold {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #34dca2), to(#34dca2));
  background-image: -webkit-linear-gradient(top, #34dca2 0, #34dca2 100%);
  background-image: -o-linear-gradient(top, #34dca2 0, #34dca2 100%);
  background-image: linear-gradient(to bottom, #34dca2 0, #34dca2 100%);
  background-position: -3px 85%;
  background-repeat: no-repeat;
  background-size: 100% 10px;
}
.theme-selection-dark {
  padding: 0 0.12em 0 0.18em;
  color: #fff;
  background-color: #222;
}
.theme-selection-accent {
  padding: 0 0.12em 0 0.18em;
  color: #fff;
  background-color: #34dca2;
}
.theme-social-links {
  margin: -3px;
}
.theme-social-links a {
  margin: 3px;
  display: inline-block;
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6;
  font-size: 0.857142857142857em;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: opacity 0.4s, background-color 0.4s !important;
  -o-transition: opacity 0.4s, background-color 0.4s !important;
  transition: opacity 0.4s, background-color 0.4s !important;
}
@media (min-width: 992px) {
  .animate-on-screen {
    opacity: 0;
    -webkit-transform: translateY(120px);
    -ms-transform: translateY(120px);
    transform: translateY(120px);
    -webkit-transition: 0.8s opacity, 0.8s -webkit-transform;
    transition: 0.8s opacity, 0.8s -webkit-transform;
    -o-transition: 0.8s opacity, 0.8s transform;
    transition: 0.8s opacity, 0.8s transform;
    transition: 0.8s opacity, 0.8s transform, 0.8s -webkit-transform;
  }
  .animate-on-screen._on-screen {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.brand-colors ._link,
.brand-colors ._envelope,
.brand-colors ._map,
.brand-colors ._map-marker {
  background-color: #a8a8a8;
}
.brand-colors ._link:hover,
.brand-colors ._envelope:hover,
.brand-colors ._map:hover,
.brand-colors ._map-marker:hover {
  background-color: #878787;
}
.brand-colors ._facebook {
  background-color: #3b5998;
}
.brand-colors ._facebook:hover {
  background-color: #283d68;
}
.brand-colors ._twitter {
  background-color: #00aced;
}
.brand-colors ._twitter:hover {
  background-color: #007cab;
}
.brand-colors ._instagram {
  background-color: #125688;
}
.brand-colors ._instagram:hover {
  background-color: #0a314d;
}
.brand-colors ._vk {
  background-color: #45668e;
}
.brand-colors ._vk:hover {
  background-color: #2f4661;
}
.brand-colors ._odnoklassniki {
  background-color: #ed812b;
}
.brand-colors ._odnoklassniki:hover {
  background-color: #c56111;
}
.brand-colors ._whatsapp {
  background-color: #25d366;
}
.brand-colors ._whatsapp:hover {
  background-color: #1b9b4b;
}
.brand-colors ._telegram {
  background-color: #08c;
}
.brand-colors ._telegram:hover {
  background-color: #005c8a;
}
.brand-colors ._pinterest {
  background-color: #cb2027;
}
.brand-colors ._pinterest:hover {
  background-color: #92171c;
}
.brand-colors ._linkedin {
  background-color: #007bb5;
}
.brand-colors ._linkedin:hover {
  background-color: #004e73;
}
.brand-colors ._dribbble {
  background-color: #ea4c89;
}
.brand-colors ._dribbble:hover {
  background-color: #da1a64;
}
.brand-colors ._behance {
  background-color: #1769ff;
}
.brand-colors ._behance:hover {
  background-color: #004bd4;
}
.brand-colors ._google-plus {
  background-color: #dd4b39;
}
.brand-colors ._google-plus:hover {
  background-color: #b52f1f;
}
.brand-colors ._youtube {
  background-color: #b00;
}
.brand-colors ._youtube:hover {
  background-color: #790000;
}
.brand-colors ._vimeo-square {
  background-color: #aad450;
}
.brand-colors ._vimeo-square:hover {
  background-color: #8ab52d;
}
.brand-colors ._flickr {
  background-color: #ff0084;
}
.brand-colors ._flickr:hover {
  background-color: #bd0062;
}
.brand-colors ._tumblr {
  background-color: #32506d;
}
.brand-colors ._tumblr:hover {
  background-color: #1d2f40;
}
.brand-colors ._foursquare {
  background-color: #0072b1;
}
.brand-colors ._foursquare:hover {
  background-color: #00476f;
}
.brand-colors ._wordpress {
  background-color: #21759b;
}
.brand-colors ._wordpress:hover {
  background-color: #154c64;
}
.brand-colors ._stumbleupon {
  background-color: #eb4823;
}
.brand-colors ._stumbleupon:hover {
  background-color: #bb3011;
}
.brand-colors ._soundcloud {
  background-color: #f50;
}
.brand-colors ._soundcloud:hover {
  background-color: #bd3f00;
}
.brand-colors ._vine {
  background-color: #00bf8f;
}
.brand-colors ._vine:hover {
  background-color: #007d5d;
}
.brand-colors ._skype {
  background-color: #00aff0;
}
.brand-colors ._skype:hover {
  background-color: #007fae;
}
.brand-colors ._github {
  background-color: #333;
}
.brand-colors ._github:hover {
  background-color: #121212;
}
.brand-colors ._bitbucket {
  background-color: #205081;
}
.brand-colors ._bitbucket:hover {
  background-color: #132f4c;
}
.brand-colors ._twitch {
  background-color: #6441a5;
}
.brand-colors ._twitch:hover {
  background-color: #472e75;
}
.brand-colors ._weibo {
  background-color: #e32529;
}
.brand-colors ._weibo:hover {
  background-color: #af171a;
}
.brand-colors ._tencent-weibo {
  background-color: #e32529;
}
.brand-colors ._tencent-weibo:hover {
  background-color: #af171a;
}
.brand-colors ._renren {
  background-color: #0061b3;
}
.brand-colors ._renren:hover {
  background-color: #003d71;
}
.brand-colors ._xing {
  background-color: #005a5f;
}
.brand-colors ._xing:hover {
  background-color: #001b1d;
}
.brand-colors ._medium {
  background-color: #00ab6c;
}
.brand-colors ._medium:hover {
  background-color: #006942;
}
.brand-colors ._tripadvisor {
  background-color: #00af87;
}
.brand-colors ._tripadvisor:hover {
  background-color: #006d54;
}
.brand-colors ._link,
.brand-colors ._envelope,
.brand-colors ._facebook,
.brand-colors ._twitter,
.brand-colors ._instagram,
.brand-colors ._vk,
.brand-colors ._pinterest,
.brand-colors ._linkedin,
.brand-colors ._dribbble,
.brand-colors ._behance,
.brand-colors ._google-plus,
.brand-colors ._youtube,
.brand-colors ._vimeo-square,
.brand-colors ._flickr,
.brand-colors ._tumblr,
.brand-colors ._foursquare,
.brand-colors ._wordpress,
.brand-colors ._stumbleupon,
.brand-colors ._soundcloud,
.brand-colors ._vine,
.brand-colors ._skype,
.brand-colors ._github,
.brand-colors ._bitbucket,
.brand-colors ._twitch,
.brand-colors ._weibo,
.brand-colors ._tencent-weibo,
.brand-colors ._renren,
.brand-colors ._xing {
  color: #fff;
}
.brand-colors ._link:hover,
.brand-colors ._envelope:hover,
.brand-colors ._facebook:hover,
.brand-colors ._twitter:hover,
.brand-colors ._instagram:hover,
.brand-colors ._vk:hover,
.brand-colors ._pinterest:hover,
.brand-colors ._linkedin:hover,
.brand-colors ._dribbble:hover,
.brand-colors ._behance:hover,
.brand-colors ._google-plus:hover,
.brand-colors ._youtube:hover,
.brand-colors ._vimeo-square:hover,
.brand-colors ._flickr:hover,
.brand-colors ._tumblr:hover,
.brand-colors ._foursquare:hover,
.brand-colors ._wordpress:hover,
.brand-colors ._stumbleupon:hover,
.brand-colors ._soundcloud:hover,
.brand-colors ._vine:hover,
.brand-colors ._skype:hover,
.brand-colors ._github:hover,
.brand-colors ._bitbucket:hover,
.brand-colors ._twitch:hover,
.brand-colors ._weibo:hover,
.brand-colors ._tencent-weibo:hover,
.brand-colors ._renren:hover,
.brand-colors ._xing:hover {
  color: #fff;
}
.arrow-up {
  position: relative;
  display: block;
  color: #34dca2;
  height: 32px;
  width: 32px;
}
.arrow-up:before,
.arrow-up:after {
  content: '';
  position: absolute;
  display: block;
  background-color: transparent;
}
.arrow-up:after {
  width: 15px;
  height: 15px;
  border-top: 3px solid;
  border-right: 3px solid;
}
.arrow-up:before {
  top: 0;
  left: 50%;
  height: 100%;
  border-left: 3px solid;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.arrow-up:after {
  top: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
  -ms-transform: translate(-50%, 0) rotate(-45deg);
  transform: translate(-50%, 0) rotate(-45deg);
}
.arrow-right {
  position: relative;
  display: block;
  color: #34dca2;
  height: 32px;
  width: 32px;
}
.arrow-right:before,
.arrow-right:after {
  content: '';
  position: absolute;
  display: block;
  background-color: transparent;
}
.arrow-right:after {
  width: 15px;
  height: 15px;
  border-top: 3px solid;
  border-right: 3px solid;
}
.arrow-right:before {
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 3px solid;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.arrow-right:after {
  right: 1px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
}
.arrow-down {
  position: relative;
  display: block;
  color: #34dca2;
  height: 32px;
  width: 32px;
}
.arrow-down:before,
.arrow-down:after {
  content: '';
  position: absolute;
  display: block;
  background-color: transparent;
}
.arrow-down:after {
  width: 15px;
  height: 15px;
  border-top: 3px solid;
  border-right: 3px solid;
}
.arrow-down:before {
  top: 0;
  left: 50%;
  height: 100%;
  border-left: 3px solid;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.arrow-down:after {
  bottom: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(135deg);
  -ms-transform: translate(-50%, 0) rotate(135deg);
  transform: translate(-50%, 0) rotate(135deg);
}
.arrow-left {
  position: relative;
  display: block;
  color: #34dca2;
  height: 32px;
  width: 32px;
}
.arrow-left:before,
.arrow-left:after {
  content: '';
  position: absolute;
  display: block;
  background-color: transparent;
}
.arrow-left:after {
  width: 15px;
  height: 15px;
  border-top: 3px solid;
  border-right: 3px solid;
}
.arrow-left:before {
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 3px solid;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.arrow-left:after {
  left: 1px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-135deg);
  -ms-transform: translate(0, -50%) rotate(-135deg);
  transform: translate(0, -50%) rotate(-135deg);
}
.hamburger {
  position: relative;
  margin: 5px 0 8px;
  display: block;
  width: 26px;
  height: 18px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid;
}
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 3px solid;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: color 0.4s, -webkit-transform-origin 0.4s, -webkit-transform 0.4s;
  transition: color 0.4s, -webkit-transform-origin 0.4s, -webkit-transform 0.4s;
  -o-transition: color 0.4s, transform-origin 0.4s, transform 0.4s;
  transition: color 0.4s, transform-origin 0.4s, transform 0.4s;
  transition: color 0.4s, transform-origin 0.4s, transform 0.4s, -webkit-transform-origin 0.4s, -ms-transform-origin 0.4s, -webkit-transform 0.4s;
}
.hamburger:before {
  -webkit-transform: scaleX(0.88);
  -ms-transform: scaleX(0.88);
  transform: scaleX(0.88);
}
.hamburger:after {
  top: 6px;
  -webkit-transform: scaleX(0.73);
  -ms-transform: scaleX(0.73);
  transform: scaleX(0.73);
}
.hamburger:hover:before,
.hamburger:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.hamburger._close {
  border-bottom-color: transparent;
}
.hamburger._close:before,
.hamburger._close:after {
  color: #34dca2;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}
.hamburger._close:before,
.hamburger._close:hover:before {
  -webkit-transform: translateY(6px) scaleX(1) rotate(-45deg);
  -ms-transform: translateY(6px) scaleX(1) rotate(-45deg);
  transform: translateY(6px) scaleX(1) rotate(-45deg);
}
.hamburger._close:after,
.hamburger._close:hover:after {
  -webkit-transform: scaleX(1) rotate(45deg);
  -ms-transform: scaleX(1) rotate(45deg);
  transform: scaleX(1) rotate(45deg);
}
.hamburger._light:before,
.hamburger._light:after {
  color: #fff;
}
.text-separator {
  display: inline-block;
  position: relative;
  width: 1.5em;
  height: 1em;
  opacity: 0.3;
}
.text-separator:before {
  content: '';
  position: absolute;
  top: -10%;
  left: 50%;
  width: 0;
  height: 125%;
  border-left: 1px dotted;
}
.clear {
  float: none;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
@media (max-width: 991px) {
  .first-sm {
    clear: both;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .first-md {
    clear: both;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .first-lg {
    clear: both;
  }
}
@media (min-width: 1401px) and (max-width: 1599px) {
  .first-xl {
    clear: both;
  }
}
@media (min-width: 1600px) {
  .first-xxl {
    clear: both;
  }
}
.xxsmall {
  font-size: 0.571428571428571em;
}
.xsmall {
  font-size: 0.714285714285714em;
}
.small {
  font-size: 0.857142857142857em;
}
.big {
  font-size: 1.142857142857143em;
}
.xbig {
  font-size: 1.285714285714286em;
}
.xxbig {
  font-size: 1.428571428571429em;
}
.xxxbig {
  font-size: 1.714285714285714em;
}
.full-width {
  width: 100%;
}
@media (max-width: 479px) {
  .font_xs_36,
  .font_xs_36 h1,
  .font_xs_36 h2 {
    font-size: 36px !important;
  }
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lower {
  text-transform: lowercase;
}
.text-upper {
  text-transform: uppercase;
}
.text-capit {
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .text-left-sm {
    text-align: left;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-justify-sm {
    text-align: justify;
  }
  .text-nowrap-sm {
    white-space: nowrap;
  }
  .text-lower-sm {
    text-transform: lowercase;
  }
  .text-upper-sm {
    text-transform: uppercase;
  }
  .text-capit-sm {
    text-transform: capitalize;
  }
}
@media (min-width: 992px) {
  .text-left-md {
    text-align: left;
  }
  .text-right-md {
    text-align: right;
  }
  .text-center-md {
    text-align: center;
  }
  .text-justify-md {
    text-align: justify;
  }
  .text-nowrap-md {
    white-space: nowrap;
  }
  .text-lower-md {
    text-transform: lowercase;
  }
  .text-upper-md {
    text-transform: uppercase;
  }
  .text-capit-md {
    text-transform: capitalize;
  }
}
@media (min-width: 1200px) {
  .text-left-lg {
    text-align: left;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-justify-lg {
    text-align: justify;
  }
  .text-nowrap-lg {
    white-space: nowrap;
  }
  .text-lower-lg {
    text-transform: lowercase;
  }
  .text-upper-lg {
    text-transform: uppercase;
  }
  .text-capit-lg {
    text-transform: capitalize;
  }
}
.line-height-1 {
  line-height: 1;
}
.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
.vertical-helper {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
@media (min-width: 768px) {
  .pull-right-sm {
    float: right;
  }
  .pull-left-sm {
    float: left;
  }
}
@media (min-width: 992px) {
  .pull-right-md {
    float: right;
  }
  .pull-left-md {
    float: left;
  }
}
@media (min-width: 1200px) {
  .pull-right-lg {
    float: right;
  }
  .pull-left-lg {
    float: left;
  }
}
.o-hidden {
  overflow: hidden;
}
.o-visible {
  overflow: visible;
}
.o-hidden-i {
  overflow: hidden !important;
}
.o-visible-i {
  overflow: visible !important;
}
.relative {
  position: relative;
}
.block {
  display: block;
}
.hide,
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none;
}
@media (max-width: 479px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .visible-xs {
    display: block;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell;
  }
  .visible-xs-block {
    display: block;
  }
  .visible-xs-inline {
    display: inline;
  }
  .visible-xs-inline-block {
    display: inline-block;
  }
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell;
  }
  .visible-sm-block {
    display: block;
  }
  .visible-sm-inline {
    display: inline;
  }
  .visible-sm-inline-block {
    display: inline-block;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell;
  }
  .visible-md-block {
    display: block;
  }
  .visible-md-inline {
    display: inline;
  }
  .visible-md-inline-block {
    display: inline-block;
  }
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell;
  }
  .visible-lg-block {
    display: block;
  }
  .visible-lg-inline {
    display: inline;
  }
  .visible-lg-inline-block {
    display: inline-block;
  }
  .hidden-lg {
    display: none !important;
  }
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
}
